@import'../../styles/_variables.scss';

.tabsbar-wrapper {
  background: #ffffff;
  color: $primary-gray-1;
  font-weight: $font-weight-700;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  a {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    transition: 0.1s;

    &:hover {
      color: $primary-1;
    }
  }
}

.tabsbar-active {
 border-bottom: 2px solid $primary-1;
}